@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  box-sizing: border-box;
  color: white;
}
body::-webkit-scrollbar{
  displayInput: none;
}

/* *****************Login Css*********************************/

.outerDivLogin{
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,1) 9%, rgba(78,75,75,1) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginBox{
  /* gap: 1.5rem; */
  width: 50vw;
  height: 95vh;
  /* border: 2px solid red; */
  border-radius: 10px;
  background-color: rgba(16, 16, 16, 0.905);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.loginField{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;

}
.emailInput, .passwordInput{
  height: 2rem;
  width: 20rem;
  background-color: black;
  border: none;
  border: 2px solid gray;
  padding: 0.5rem;
  color: white;
}
.emailInput:hover, .passwordInput:hover{
  border: 2px solid white;
}
.loginButtonDiv{
  height: 2.5rem;
  width: 20rem;
  background-color: #24e166;  
  /* background-color: rgb(131, 255, 174); */
  color: black;
  border-radius: 50px;
  border-top: 20px;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.loginButton{
  background: none;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}
hr{
  color: red;
  width: 25rem;
}
.forgotPassword{
  text-decoration: underline; 
}
.register{
  color: white;
  margin-top: 2rem;
}
.register:hover{
  color: #24e166;  
  margin-top: 2rem;
}



/* ********************Sign Up CSS***********************************************/

.outerDivSignUp{
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,1) 9%, rgba(78,75,75,1) 100%);
  width: 98vw;
  height: 125vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.signUpBox{
    /* gap: 1.5rem; */
    width: 50vw;
    height: 125vh;
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: rgba(16, 16, 16, 0.905);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}
.loginLink{
  text-decoration: underline;
  color: white;
}
.loginLink:hover{
  text-decoration: underline;
  color: #24e166;
}
.registerHr{
  margin-top: 2rem;
  
}


/* *******************************Home Css***********************************************/
.homeOuterDiv{
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgb(24, 24, 24) 9%, rgb(43, 40, 40) 100%);
  /* background-color: blue; */
}
.sideBar{
  display: flex;
  width: 20vw;
  height: 100vh;
  flex-direction: column;
  /* background-color: rgb(19, 19, 19); */
  background: linear-gradient(360deg, rgb(24, 24, 24) 9%, rgb(43, 40, 40) 100%);
  justify-content: start;
  gap: 1rem;
  cursor: pointer;
  /* position: fixed; */
}
.homeCard{
  display: flex;
  flex-direction: row;
  height: 150vh;
  background: linear-gradient(360deg, rgb(24, 24, 24) 9%, rgb(43, 40, 40) 100%);
  overflow: auto;
}
.homeCard::-webkit-scrollbar{
  display: none;
}


.createPlaylist{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.footer{
  color: white;
  font-weight: lighter;
  font-size: small;
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  padding-left: 1.5rem;
  flex-wrap: wrap;
  padding-top: 8rem;
  width: 15vw;
}
.padding{
  padding-left: 0.5rem;
}
.logo{
  padding-left: 2rem;
  padding-top: 1rem;
}
.userUtilities{
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;

}
.userSongs{
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

/* **************************************Nav Bar Css*****************************/

.NavBar{
  display: flex;
  justify-content: end;
  align-items: center;
  /* background-color: rgb(27, 25, 25); */
  background: linear-gradient(360deg, rgb(68, 67, 67) 9%, rgb(21, 18, 18) 100%);
  height: 7vh;
  width: 80vw;
  /* width: 99%; */
  gap: 2rem;
  color: gray;
  padding: 0.5rem;

}
.homeLoginSpan{
  display: flex;
  height: 2.5rem;
  width: 5rem;
  background-color: white;
  color: gray;
  font: inherit;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;

}
.homeLoginButton{
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font: inherit;
}

.cursorPointer{
  cursor: pointer;
}


/* ******************************Upload Songs Css************************************************* */

.uploadSongBackground{
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgb(24, 24, 24) 9%, rgb(43, 40, 40) 100%);
  /* background: linear-gradient(360deg, rgb(68, 67, 67) 9%, rgb(21, 18, 18) 100%); */
  height: 140vh;
  width: 80vw;
}
.uploadSongHeading{
  font-size: xx-large;
  padding: 2rem;
}
.uploadSongInput{
  display: flex;
  justify-content: start;
  font-size: small;
  gap: 5rem;
  padding: 2em;
}


/* ******************************cloudinary button widget************************ */
.cloudinartWidgetButton{
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  font-weight: bold;
  height: 2.5rem;
  width: 9rem;
  background-color: white;
  color: black;
  border-radius: 50px;
  cursor: pointer;
  margin: 2rem;
}

/* ****************************MyMusic Css****************************************** */
.myMusicHeading{
  font-size: xx-large;
  padding: 2rem;
}
.songDetail{
  display: flex;
  justify-content: space-between;
  /* padding: 2rem; */
  align-items: center;
  /* gap: 15rem; */

}
.songThumbnailAndName{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* padding: 2rem; */
}
.artistAndSongName{
  display: flex;
  font-size: small;
  font-weight: 200;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  cursor: pointer;

}
.artistAndSongName:hover{
  text-decoration: underline;


}
.songName{
  font-weight: 700;
}
.thumbnailImg{
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}
.myMusicWrapper {
  transition: opacity 0.3s ease, background-color 0.3s ease;
  box-sizing: border-box;
  border: 2px solid transparent;
  height: 9vh;

}

.myMusicWrapper:hover {
  background-color: gray;
  opacity: 0.5;
  border: 2px solid transparent;
}


/* *****************************Play Music Css************************************* */

.playMusicDiv{
  display: flex;
  color: white;
  height: 7vh;
  width: 81vw;
  /* width: 83.5%; */
  /* background-color: inherit; */
  background-color: black;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50;
}

.homeRemainingScreen{
  display: flex;
  flex-direction: column;
  
  /* justify-content: space-evenly; */
}


.playSong{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: gray;
}

.playSong > *:hover{
  color: white;
}

/* *****************************NavLink CSS**********************************/

.removeLinkStyle{
  text-decoration: none;
  color: inherit;
}

/* ************************************Search CSS**********************************/

.searchOuterDiv{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  padding: 2rem;
  justify-content: start;
  align-items: center;
}
.searchInnerDiv{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 2rem;
  width: 30rem;
  background-color: black;
  border: none;
  border: 2px solid gray;
  padding: 0.5rem;
  color: white;
}
.searchInput{
  height: 2rem;
  width: 30rem;
  background-color: black;
  border: none;
  padding: 0.5rem;
  color: white;
}
.searchInput:focus{
  border: 2px solid black;
  outline: none;
  width: auto; /* Reset width to auto (if size is being controlled elsewhere) */
  height: auto; /* Reset height to auto (if size is being controlled elsewhere) */
}

.response{
  display: flex;
  flex-direction: column;
}

/* ******************************Modal Css*************************************/

.modalOuterDiv{
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  background-color: black;
  z-index: 1000;

}
.createPlaylistCard{
  border: 2px solid white;
  padding: 2rem;
  height: 55vh;
  width: 35vw;
}

.fields{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.searchInputModal{
  height: 2rem;
  width: 30rem;
  background-color: black;
  border: 2px solid white;
  border: none;
  padding: 0.5rem;
  color: white;
}

/* **************************Card Css***************************************/

.cardOuterDiv{
  /* background-color: black; */
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgb(47, 46, 46) 9%, rgb(130, 126, 126) 100%);
  border-radius: 10px;
  height: 18rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
}
.cardWrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}
.cardImg{
  /* border: 2px solid white; */
  height: 12rem;
  border-radius: 10px;
  width: 12rem;
  contain: content;
}
.cardName{
  font-weight:bolder ;
  font-size: medium;
  color: #24e166;
}
